<form action="login">
    <div class="loginpage">
      <h1>Login</h1>
      <div style="background-color: #a4a29f; height: 2000px;">
      <br>
      <input class = "text" type="text" placeholder="Enter email" id="email" required>
      <pre></pre>
      <input class = "text" type="password" placeholder="Enter Password" id="passward" required>
      <pre></pre>
      <pre></pre>
      <button type="submit" class="loginbtn" id = "loginButton">Login</button>
      <nav class = "link" style="color: black;">New User/admin? <a routerLink="/signup" class="nav-link" routerLinkActive="active" id="signupLink">Sign Up</a></nav>
    </div>
</div>
</form>