<form action="login">
    <div class="loginpage">
      <h1 style="color: white;background:rgb(2, 2, 1);padding: 1;text-align: center;">Login</h1>
      <pre></pre>
      <input type="text" style="text-align: center;" placeholder="Enter email" id="email" required>
      <pre></pre>
      <input type="password" style="text-align: center;" placeholder="Enter Password" id="passward" required>
      <pre></pre>
      <div class="button">
        <button type="submit" class="loginbtn" id = "loginButton">Submit</button>
      </div>
      <pre></pre>
      <nav>
        New User/admin? <a routerLink="/signup" class="nav-link" routerLinkActive="active" id="signupLink">Sign Up</a>
    </nav>
</div>
</form>